<!DOCTYPE html>
<html>

<body>
    <a href="/users/new">Add User</a>
        
    <ul>
        <%  userList.forEach( function(user)  {       %> 
        <li>Name: <%= user.name %></li>
        <li>Email: <%= user.email %></li>
        <li>City: <%= user.city %></li>
        <li>Phones: <%= user.phone %></li>
        <ul>
            <h3>Posts:</h3>
            <%  user.posts.forEach( function(post)  {       %>
            <li> <%= post.title %></li>
            <% });    %>
        </ul>
        <ul>
            <h3>Tasks:</h3>
            <%  user.tasks.forEach( function(task)  {       %>
            <li> <a href='/tasks/<%= task.id %>/edit'><%= task.title %></a></li>
            <% });    %>
        </ul>
        <br>
        <button>Add Task</button>
        <button>Add Post</button>
        <br>
        <br>
        <%  });    %>
        </ul>
</body>

</html>