<!DOCTYPE html>
<html>

<body>
    <a href="/users"> 🢘 Back to Users</a>
    <form action="/posts/<%= post._id %>/update" method="POST">
        <table style="width: 100vw">
            <tr>
                <td style="width: 100px">
                    <h1>Title:</h1>
                </td>
                <td>
                    <input type="hidden" name="userId" value="<%=post.userId%>" />
                    <input type="text" name="title" value="<%= post.title %>" style='width:80vw;'>
                    </input>
                </td>
            </tr>
            <tr>
                <td>
                    <h1>Text:</h1>
                </td>
                <td>
                    <textarea name="body" style="width:40vw; height: 30vh;"><%= post.body %></textarea>

                </td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    </form>
    <br />
    <form action="/posts/<%= post._id %>/delete" method="POST">
        <input type="hidden" name="userId" value="<%=post.userId%>" />
        <input type="submit" value="Delete" />
    </form>
</body>

</html>